<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core.CameraLauncher"
    version="0.1.0">
    <name>Camera</name>

    <js-module src="www/CameraConstants.js" name="camera">
        <clobbers target="window.camera" />
    </js-module>

    <js-module src="www/CameraPopoverOptions.js" name="camera">
        <clobbers target="window.camera" />
    </js-module>
    
    <js-module src="www/Camera.js" name="camera">
        <clobbers target="navigator.camera" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
            <plugin name="Camera" value="org.apache.cordova.core"/>
        </config-file>

        <source-file src="CameraLauncher.java" target-dir="org/apache/cordova/core" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="Camera">
                 <param name="ios-package" value="CDVCamera" /> 
             </feature>
         </config-file>
         <header-file src="src/ios/CDVCamera.h" />
         <source-file src="src/ios/CDVCamera.m" />
         <header-file src="src/ios/CDVJpegHeaderWriter.h" />
 	     <source-file src="src/ios/CDVJpegHeaderWriter.m" />
 	     <header-file src="src/ios/CDVExif.h" />
     </platform>
          
</plugin>
