<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-plugin-camera-tests" version="2.4.0">
  <name>Cordova Camera Plugin Tests</name>
  <license>Apache 2.0</license>
  <dependency id="cordova-plugin-file" version=">=2.0.0"/>
  <js-module src="tests.js" name="tests"/>
</plugin>
